@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400&family=Roboto:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  color: #272927;
  font-size: 20px;
  margin-bottom: 60px;
}

h1, h2 {
  font-family: 'Roboto', sans-serif;
  border-bottom: 2px solid black;
  margin-bottom: 10px;
}

p, span, a, li {
  font-family: 'Roboto Condensed', sans-serif;;
}

ul, ol, a {
  list-style: none;
}

/*SIDEBAR*/

aside {
  float: left;
  position: fixed;
}

.title {
  margin: 20px;
}

.title img {
  border-radius: 20px;
  margin-bottom: 15px;
}

.social-list {
  margin: 20px;
}

.social-list h2 {
  padding: 10px 0;
}

.social-list img {
  width: 30px;
}

.social-list a {
  padding: 10px 15px;
}

/*MAIN SECTION*/

main {
  padding: 15px;
  width: 70%;
  float: right;
  margin: 0 125px;
}

main h2 {
  text-align: center;
  padding: 10px;
}

main p {
  text-align: justify;
}

main hr {
  margin: 10px 0;
}

.expirience {
  margin: 20px 0;
  clear:right;
}

table {
  margin: auto;
  width: 100%;
}

td {
  padding: 10px;
  border-bottom: 2px solid #272927;
  text-align: center;
}

.skill-list li {
  float: left;
  padding: 10px 50px;
  width: 50px ;
}


/*FOOTER*/

footer {
  background-color: #659ffc;
  justify-content: space-between;
  min-height: 40px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  line-height: 100px;
} 

footer span:nth-child(1) {
  padding: 0 50px;
  position: absolute;
}

footer span:nth-child(2) {
  float: right;
  margin: 0 50px;
}

/*ADAPTIVE*/

@media only screen and (max-width: 2400px) {
  main {
    width: 70%;
    float: right;
    margin: 0 100px;
  }
}

@media only screen and (max-width: 1540px) {
  main {
    width: 50%;
    margin: 0 180px;
  }
}

@media screen and (max-width: 1270px) {
  aside {
    float: none;
    position: static;
    margin: 0 50px;
  }

  .title img {
    float: left;
    margin-right: 50px;
  }

  .skill-list h2 {
    text-align: center;
  }

  main {
    margin: 0 50px 150px 50px;
    padding: 0;
    width: auto;
  }
}

@media screen and (max-width: 680px) {
  aside {
    text-align: center;
  }

  .title img {
    float: none;
    margin: 0;
  }

  .skill-list {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 590px) {
  footer {
    text-align: center;
    line-height: 30px;
  }

  footer div {
    margin: 0 auto;
    width: 225px;
    text-align: center;
    padding: 20px;
  }

  footer span:nth-child(1) {
    margin: 0;
    padding: 0;
  } 

  footer span:nth-child(2) {
    float: none;
    margin: 0;
    padding: 0;
  }
}
 
@media screen and (max-width: 445px) {
  main {
    text-align: center;
    width: 75%;
  }

  table {
    font-size: 13px;
  }
}
 
@media screen and (max-width: 375px) {
  aside {
    margin: 0 35px;
  }

  main {
    text-align: center;
    width: 70%;
  }

  table {
    font-size: 11px;
  }
}